@page "/book-detail/{Id:int}"
@inject JSRuntime JS;

<PageTitle>Book Detail</PageTitle>

<h3>Book-Detail</h3>
<p> @Id - @Name</p>

<button class="btn btn-dark" @onclick="JsAlert">Alert </button>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name =("name"))]
    public string? Name{ get; set; }

    public async Task JsAlert()
    {
        await JS.InvokeVoidAsync("displayBook", Name);
    }

}
